*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: orange;
    padding: 10px;
}
header section{
    display:flex;
    justify-content: center;
}
 header .logo{
    background-color: yellow;
    width: 200px;
 }

 header .menu{
    display:flex;
    justify-content: space-around;
    background-color: rgb(113, 168, 113);
    width: 600px;
 }

 header .login{
    display:flex;
    justify-content: flex-end;
    background-color: red;
 }

 .container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
 }